*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 32px 90px;
}

.button-one{
    width: 138px;
    height: 55px;
    border: none;
    background: transparent;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-left: 16px;
    margin-right: 16px;
}

.button-one:hover{
    cursor: pointer;
}

.header-button{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-two{
    height: 55px;
    width: 106px;
    border: 1px solid #F2F2F2;
    outline: none;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD;
}

.button-two:hover{
    cursor: pointer;
}

.button-three{
    background: transparent;
    border: none;
    width: 53px;
}

.button-three:hover{
    cursor: pointer;
}

header i{
    color: #EB5757;
    font-size: 1.3rem;
}

.main-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-left: 91px;
    margin-right: 99px;
    margin-top: 85px;
}

.main-text h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.main-text p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}

.home{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(485px, 495px));
    align-items: center;
}

.container{
    margin-left: 94px;
}

.container img{
    width: 100%;
    height: 290px;
    border-radius: 24px;
}

.container h4{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-top: 17px;
    margin-bottom: 49px;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
}

.text-container h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.text-container h7{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}

.text-container i{
    width: 15px;
    height: 15px;
    color: #EB5757;
}

.text-container button{
    width: 100px;
    height: 28px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    background: transparent;
    margin-right: 11px;
}

.footer{
    text-align: center;
    margin-top: 101px;
    margin-bottom: 26px;
}

.footer h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}